/*Tablet*/
@media (max-width: 820px) and (orientation:landscape){
    .imagem-de-series{
        width: 35vh;
        height: auto;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
}

/*Computador*/

@media (min-width: 1000px){
    .imagem-de-series{
        width: 85vh;
        height: auto;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
    aside{
        display: flex;
        padding: 40px;
        gap: 40px;
        justify-content: space-between;
        }
    .texto{
        flex: 1;
        min-width: 300px;
        max-width: 600px;
        line-height: 1.8;
        font-size: 18px;
    }
    .texto h1 {
        font-size: 36px;
        margin-bottom: 20px;
      }
    .texto p {
        margin-bottom: 16px;
    }
    .imagem-de-texto {
        flex: 1;
        min-width: 280px;
        max-width: 600px;
      }
      .imagem-de-texto{
        display: grid;
        align-items: center;
        
      }
}


/*Celular*/

@media (max-width: 768px) and (min-width: 430px) {
    .imagem-de-series{
        width: 35vh;
        height: auto;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
      .imagem-de-texto{
        display: grid;
        align-items: center;
        
      }
    aside {
      flex-direction: column;
      padding: 20px;
    }
  
    .texto {
      font-size: 16px;
    }
  
    .texto h1 {
      font-size: 28px;
    }
  
    .imagem-de-texto {
      margin-top: 20px;
    }
}